<!DOCTYPE html>
<!-- Extend base.html to reuse navigation tab and enable message flashing -->
{% extends "base.html" %}
{% from "_render_field.html" import render_field %}

{% block head %}

{{ super() }}

<head>
    <meta charset="UTF-8">
    <title>Create ShoppingList</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',filename='main.css') }}">
</head>

{% endblock %}

<body>
{% block page_content %}

<form class="card" id="new_bkt" action="{{ url_for('create_shopping_lst') }}"
      method="post">
    <div class="form-header">
        <h4 class="title">Create A new Shopping list</h4>
    </div>
    <div class="form_container">

        {{ form.csrf_token }}
        {{ render_field(form.name) }}
        {{ form.body.label }}
        {{ render_field(form.body(cols="50", rows="4")) }}

        <div class="btm_buttons">
            <button type="button"  class="cancelbtn" onclick="history.back()">
                Cancel</button>
            <button type="submit" class="loginbtn">Save</button>
        </div>

    </div>
</form>
{% endblock %}

</body>
</html>