<!DOCTYPE html>
{% extends "base.html" %}

{% from "_render_field.html" import render_field %}

<!-- Import Head Content -->
{% block head %}
{{ super() }}
{% endblock %}

<!-- Override navbar to prevent them from appearling in this page -->
{% block navbar %}
{% endblock %}

<body>
{% block page_content %}
<form class="card" method="post" action="/signup">
    <div class="form-header">
        <h4>Signup To ShoppingList App</h4>
    </div>
    <div class="container">

        {{ form.csrf_token }}

        {{ render_field(form.username)}}

        {{ render_field(form.email)}}

        {{ render_field(form.password)}}

        {{ render_field(form.confirm)}}

        <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>

        <div class="btm_buttons">
            <button type="button" class="cancelbtn" onclick="history.back()">Cancel</button>
            <button type="submit" class="signupbtn">Sign Up</button>
        </div>
    </div>
</form>
{% endblock %}
</body>
</html>