<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',filename='main.css') }}">
</head>
<body>
<div id="fixedheader">Logout</div>

<div class="card">
            <form>
                <div class="form-header">
                    <h4 class="title">Username</h4>
                </div>
                <div class="form-body">
                    <ol>
                        You Currently Have the following Shopping lists
                        <li>Nakumart Supermarket.</li>
                        <li>Turskys Supermarket</li>
                        <li>Mtaani Supermarket</li>
                    </ol>
                    <!-- Buttons -->
                    <button type="submit" class="view-btn"><a href="#">View</a></button>
                    <button type="submit" class="newbtn"><a href="#">Add new ShoppingList</a></button>
                </div>
            </form>
        </div>

</body>
</html>