<!DOCTYPE html>
{% extends "base.html" %}

{% block head %}
{{ super() }}
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',filename='main.css') }}">
</head>
{% endblock %}

<body>
{% block page_content %}

<form method="post">
    <div class="items-container">
        <button type="submit" class="new-btn"><a href="{{ url_for('create_shopping_lst') }}">Create A ShoppingList</a>
        </button>
        <div class="form-header">
            <h2 class="title">Awesome ShoppingList App</h2>
            <p style="color: #2196F3">Loggedin As {{ name.name }} Having
                {{ current_user.get_num_of_shopping_lists() }} Shopping Lists</p>
        </div>

        {% for shopping_list in current_user.shopping_lists %}

        <div class="card">
            <form method="post">
                <div class="form-header">
                    <h4 class="title"> {{ current_user.get_shopping_lst(shopping_list).name }} </h4>
                </div>
                <div class="form-body">
                    <ol>
                        <ol><strong>Grocery.</strong>
                            <li>Bananas</li>
                            <li>Mangoes</li>
                            <li>Apples</li>
                        </ol>

                        <ol><strong>Electronics.</strong>
                            <li>Radio</li>
                            <li>Power Adapters</li>
                            <li>TV cord</li>
                        </ol>
                        <ol><strong>General</strong>
                            <li>Basketball</li>
                            <li>Swimming Kits</li>
                            <li>The 48 Laws of Power Book</li>
                        </ol>
                    </ol>
                    <!-- Buttons -->
                    <button type="submit" class="view-btn">

                        <a href="{{ url_for('add_item',
                        shopping_list_name=current_user.get_shopping_lst(shopping_list).name) }}">Add Item</a>

                    </button>
                    <button type="submit" class="deletebtn">
                        <a href="#">Delete</a>
                    </button>
                    <button type="submit" class="updatebtn">
                        <a href="#">Update</a>
                    </button>
                    <!-- End Buttons -->
                </div>
            </form>
        </div>
        {% endfor %}
    </div>
</form>
{% endblock %}
</body>
</html>